* {
    border: 1px solid red;
}
body {
    margin: 0;
}
h1 {
    display: flex;
    justify-content: center;
}

/* Styles for wallet */

.wallet {
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 20vw;
    border: 3px solid black;
    border-radius: 15px;
    padding: 25px;
}
    .wallet__tit {
    }
    .wallet__crypto {
        display: grid;
            grid-template-columns: repeat(3, 30%);
            grid-auto-rows: 60px;
            justify-content: space-between;
            align-items: center;
    }
        .name{
            grid-column: 1;
        }
        .DOL{
            grid-column: 2;
        }
        .PLN{
            grid-column: 3;
        }
    .wallet__sum {
        display: flex;
        justify-content: space-between;
    }

/* Styles for list */

.list {
    position: absolute;
    right: 10vw;
    top: 10vh;
    width: 50vw;
    border: 3px solid black;
    border-radius: 15px;
    padding: 25px;
}
.list__table {
    
}
.list__table p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__crypto {
    display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: 60px;
        justify-content: space-between;
        align-items: center;
}
.list__crypto p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list__crypto form {
    display: flex;
    justify-content: center;
    gap: 1px;
}
.list__crypto input{
    width: 7vw;
}