@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Titillium+Web:wght@400;600;700;900&display=swap');

/* * {border: 1px solid red;} */
* {box-sizing: border-box;}
body {
    margin: 0;
    background-color: #292929;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
.bar {
    position: relative;
    height: 7vh;
    background-color: #FFD700;
    display: flex;
    align-items: center;
}
.bar__logo {
    height: 6vh;
    margin-left: 1vw;
}

/* Styles for wallet */

.wallet {
    position: fixed;
    top: 7vh;
    width: fit-content;
    border: 2px solid black;
    border-radius: 0 0 20px;
    
    opacity: 0;
    animation-name: wallet---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
    #wallet__crypto {
       margin: 0 auto;
       border-spacing: 0;
       border-collapse: collapse;
    }
        #wallet__crypto th {
            padding-left: 1.5vw;
            padding-right: 1.5vw;
            padding-top: 1vh;
            padding-bottom: 1vh;
            font-size: 1vw;
            white-space: nowrap;
        }
        #usersCrypto th {
            background-color: rgb(59, 59, 59);
            border-bottom: 1px solid rgb(117, 117, 117);
            
        }
        .new-coin-animation {
            animation-name: wallet---newCoin;
            animation-duration: 0.3s;
            animation-fill-mode: ease-in-out;
        }
        .deleteBtn {
            background-image: url("https://cdn-icons-png.flaticon.com/512/32/32178.png");
            background-size: 1.5vw;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #FFD700;
            height: 4vh;
            width: 2vw;
            cursor: pointer;
        }
        .wallet__crypto__bar {
            background: rgb(20, 19, 19);
        }
        #sumPln, #sumDol {
            background: #FFD700;
            color: black;
        }

    .wallet__bottom__icon {
        position: relative;
        background-color: #FFD700;
        height: 14vh;
        width: 14vh;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        border-radius: 0 0 20px;
        cursor: pointer;
    }
        .wallet__bottom__icon--wal {
            width: auto;
            height: 10vh;
        }
        .wallet__bottom__icon--arrow {
            width: auto;
            height: 10vh;
            transform: rotate(45deg);
            position: absolute;
            top: 5.7vh;
            left: 5.7vh;
        }
        .wallet__bottom__icon--arrowA {
            width: auto;
            height: 10vh;
            transform: rotate(-135deg);
            position: absolute;
            top: -2.5vh;
            left: -2.5vh;
        }
        .wallet__bottom {
            display: flex;
            justify-content: right;
            background-color: #292929;
            align-items: center;
            border-radius: 0 20px 20px 0;
        }
            .wallet__bottom__text {
                font-size: 1vw;
                font-weight: 100;
                margin: 0 auto;
            }
        .hidden {
            display: none;
        }
        .sticky {
            position: fixed;
            top: 7vh;
            left: 0;
            border-radius: 0 20px 20px 0;
        }

        .wallet--close--animation {
            animation-name: wallet---close;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
        }


/* Styles for list */

.list {
    margin: 0 auto;
    margin-top: 10vh;
    width: fit-content;
    border: 3px solid black;
    border-radius: 15px;
    padding: 25px;
}
    .list__header {
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .list__header h1 {
        font-size: 3.5vw;
        margin: 1vw;
    }

    .list__table {
        border-spacing: 0;
        border-collapse: collapse;
    }
        .list__table td {
            padding-left: 1.5vw;
            padding-right: 1.5vw;
            padding-top: 1.5vh;
            padding-bottom: 1.5vh;
            font-size: 1vw;
            white-space: nowrap;
        }

        .list__table input {
            width: 5vw;
            font-size: 0.8vw;
            padding: 0.3vh;
            border: none;
        }
        .list__table button {
            background: url(https://cdn-icons-png.flaticon.com/512/1417/1417434.png);
            background-size: 1vw;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #FFD700;
            width: 1.5vw;
            border: none;
            cursor: pointer;
        }
        .list__table button:focus {
            background-size: 0.8vw;
            transition: 0.5s;
        }
        .list__table form {
            width: 7vw;
            display: flex;
        }

        #data tr {
            border-bottom: 1px solid rgb(117, 117, 117);
            background-color: rgb(59, 59, 59);
        }
        #data tr:hover {
            background-color: rgb(80, 80, 80);
        }
            .list__table__nav th {
                font-size: 1vw;
                padding: 1.5vh;
                padding-left: 1.5vw;
                padding-right: 1.5vw;
            }
            .list__table__nav {
                background-color: rgb(20, 19, 19);
            }
            .marketCap, .price, .pricePLN {
                text-align: right;
            }
            .list__table__nav--name, .list__table__nav--symbol {
                text-align: left;
            }
            .list__table__nav--marketCap, .list__table__nav--price, .list__table__nav--pricePLN {
                text-align: right;
            } 

    #inputSearch {
        font-size: 1vw;
        border-radius: 10px;
        width: 6vw;
        padding: 0.5vh;
        border: 2px solid rgb(20, 19, 19);
    }
    #inputSearch:hover {
        border: 2px solid #FFD700;
    }

    /* Styles for popUp */

    .list__popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;

        opacity: 0;
        animation-name: confirm---open;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;

        display: flex;
        align-items: center;
        justify-content: center;
    }
        .list__popup__window {
            width: 100%;
            max-width: 600px;
            background: #222222;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            padding: 30px;

            opacity: 0;
            transform: scale(0.75);
            animation-name: confirm__window---open;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }
        .list__popup__title {
            background: #222222;
            color: #FFD700;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 30px;

        }
        .list__popup__text {
            padding: 25px;
            background: #222222;
            color: #FFD700;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: lighter;
            font-size: 22px;
        }
        .list__popup__buttons {
            background: #222222;
            display: flex;
            justify-content:flex-end;
            align-items: center;
            margin-top: 20px;
        }

        .list__popup__buttons button {
            padding: 10px 15px;
            margin-right: 10px;
            margin-left: 10px;
            border: 2px solid #FFD700;
            border-radius: 5px;
            color: #FFD700;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            outline: none;
        }
        .list__popup__buttons button:hover{
            transition: 0.2s;
            background: #6969fa;
        }
    .list__popup__confirm {
        background: #444388;
    }
    .list__popup__cancel {
        background: rgb(59, 59, 59);
    }
    
.footer {
    height: 7vh;
    background-color: #FFD700;
    margin-top: 10vh;
}

 /* KEYFRAMES */

 @keyframes confirm---open {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes confirm---close {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes confirm__window---open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes wallet---open {
    from { 
        opacity: 0;
        left: -20vw;
        
     }
    to { opacity: 1;
        transform: scale(1);
        left: 0vw;
     }
}

@keyframes wallet---close {
    from { 
        left: 0vw;
        opacity: 1;
     }
    to { 
        left: -20vw;
        transform: scale(1);
        opacity: 0;
     }
}

@keyframes wallet---newCoin {
    to {
        background-color: rgb(80, 80, 80);;
    }
}