* {
    border: 1px solid red;
}
body {
    margin: 0;
}
h1 {
    display: flex;
    justify-content: center;
}

/* Styles for wallet */

.wallet {
    width: 25vw;
    min-width: 300px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 25px;
    margin: 5vh auto;
}
    .wallet__tit {
        text-align: center;
    }
    .wallet__crypto {
       margin: 0 auto;
    }
    .wallet__crypto th {
        padding: 0.5vh;
     }

/* Styles for list */

.list {
    margin: 0 auto;
    width: 50vw;
    border: 3px solid black;
    border-radius: 15px;
    padding: 25px;
}
.list__header {
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.list__header h1 {
    font-size: 3.5vw;
    margin: 1vw;
}

.list__table {
    
}
.list__crypto {
    display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-auto-rows: 60px;
        justify-content: space-between;
        align-items: center;
}
.list__crypto p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list__crypto form {
    display: flex;
    justify-content: center;
    gap: 1px;
}
.list__crypto input{
    width: 7vw;
}

/* Styles for popUp */

.list__popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}
.list__popup__window {
    width: 100%;
    max-width: 600px;
    background: #222222;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1.5em;

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.list__popup__title {
    background: #222222;
    color: #e6e224;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;

}
.list__popup__text {
    padding: 1rem;
    background: #222222;
    color: #e6e224;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
}
.list__popup__buttons {
    background: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem
}
.list__popup__buttons button {
    padding: 0.4em 0.8em;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 2px solid #e6e224;
    border-radius: 5px;
    background: #292929;
    color: #e6e224;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    outline: none;
}

 /* KEYFRAMES */

 @keyframes confirm---open {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes confirm---close {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes confirm__window---open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}